<form mane="container-form" method="POST" action="/courses/handle-form-actions" class="mt-4">
  <div>
    <h1>Khóa học của tôi đã xóa</h1>
    <a href="/me/stored/courses">Danh sách khóa học</a>
    <div class="form-check mt-4">
      <input class="form-check-input" type="checkbox" value="" id="checkbox-all">
      <label class="form-check-label" for="checkbox-all">
        Chọn tất cả
      </label>
      <select class="form-control-sm checkbox-all-options" name="action" required>
        <option value="">-- Chọn --</option>
        <option value="delete-force"> Xóa vĩnh viễn </option>
        <option value="restore"> Khôi phục </option>
      </select>
      <button class="btn btn-primary check-all-submit-btn" disabled >Thực hiện</button>
    </div>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col" colspan="2">#</th>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        <th scope="col">Level</th>
        <th scope="col">Thời gian xóa</th>
    </thead>
    <tbody>
      {{#each courses}}
      <tr>
        <td>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" name="courseIds[]" value="{{this._id}}">
          </div>
        </td>
        <td scope="row">{{sum @index 1}}</td>
        <td>{{this.name}}</td>
        <td>{{this.description}}</td>
        <td>{{this.level}}</td>
        <td>{{this.deletedAt}}</td>

        <td>
          <a class="btn btn-primary btn-restore" href="" data-id="{{this._id}}" role="button">Khôi phục</a>
        </td>
        <td>
          <a type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#delete-course-Modal" href=""
            data-id="{{this._id}}">Xóa vĩnh viễn</a>
        </td>
      </tr>

      {{else}}
      <tr>
        <td colspan="5" class="text-center">
          <div> Thùng rác trống
            <a href="/me/stored/course">Danh sách khóa học</a>
          </div>
        </td>
      </tr>

      {{/each}}
    </tbody>
  </table>
</form>


<!-- Modal confirm delete-->
<div class="modal fade" id="delete-course-Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Thông báo</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Bạn có chắc chắn muốn xóa vĩnh viễn khóa học không ?
      </div>
      <div class="modal-footer">
        <button id="btn-delete-course-modal" type="button" class="btn btn-danger">Xóa vĩnh viễn</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
      </div>
    </div>
  </div>
</div>

<form name="delete-course-form" method="POST"></form>
<form name="restore-course-form" method="POST"></form>

<script>
  const deleteCourse = document.getElementById('delete-course-Modal');
  var courseId;
  var deleteForm = document.forms['delete-course-form'];
  var restoreForm = document.forms['restore-course-form'];
  var btnDeleteCourse = document.getElementById('btn-delete-course-modal');
  var btnRestore = document.getElementsByClassName('btn-restore');
  var checkboxAll = $('#checkbox-all');
  var courseItemCheckbox = $('input[name="courseIds[]');
  var checkAllSubmitBtn = $('.check-all-submit-btn');

  deleteCourse.addEventListener('show.bs.modal', event => {
    const button = event.relatedTarget;
    courseId = button.getAttribute('data-id');
  })

  // When delete course btn clicked
  btnDeleteCourse.onclick = () => {
    deleteForm.action = '/courses/' + courseId + '/force?_method=DELETE';
    deleteForm.submit();
  }

  // Restore btn click
  for (var i = 0; i < btnRestore.length; i++) {
    btnRestore[i].addEventListener('click', function (e) {
      e.preventDefault();

      courseId = this.getAttribute('data-id');
      restoreForm.action = '/courses/' + courseId + '/restore?_method=PATCH';
      restoreForm.submit();
    });
  }

  checkboxAll.change(function () {
    var isCheckedAll = $(this).prop('checked');
    courseItemCheckbox.prop('checked', isCheckedAll);
    renderCheckAllSubmitBtn();
  })
  courseItemCheckbox.change(function () {
    var isCheckedAll = courseItemCheckbox.length == $('input[name="courseIds[]"]:checked').length;
    checkboxAll.prop('checked', isCheckedAll);
    renderCheckAllSubmitBtn();
  });

  //Re-render check all submit button
  function renderCheckAllSubmitBtn() {
    var checkedCount = $('input[name="courseIds[]"]:checked').length;
    if (checkedCount > 0) {
      checkAllSubmitBtn.attr('disabled', false);
    } else {
      checkAllSubmitBtn.attr('disabled', true);
    }
  }


</script>